In [9]:
# Importando bibliotecas pertinentes
import pandas as pd
import kaggle
from zipfile import ZipFile

In [ ]:
#Puxando DataSet da API do Kaggle
!kaggle datasets download -d piterfm/2022-ukraine-russian-war

In [18]:
# Criando o DataFrame
zip_file = ZipFile('2022-ukraine-russian-war.zip')
df = pd.read_csv(zip_file.open('russia_losses_personnel.csv'))

In [19]:
df.head(3)

         date  day  personnel personnel*  POW
0  2022-02-25    2       2800      about    0
1  2022-02-26    3       4300      about    0
2  2022-02-27    4       4500      about    0