# Análise de conjunto de dados, disponibilizados na plataforma Kaggle
Fontes Principais:
1. Forças Armadas da Ucrânia
https://www.zsu.gov.ua/en

2. Ministério da defesa da Ucrânia
https://www.mil.gov.ua/en/

Inicialmente o intuito é saber sobre o número de fatalidades(mortes de militares em operação) russas para que se possa calcular tendências futuras no decorrer do conflito

Conjunto de dados disponivél em -> https://www.kaggle.com/datasets/piterfm/2022-ukraine-russian-war

In [1]:
#   Importando bibliotecas pertinentes
import pandas as pd
import kaggle
from zipfile import ZipFile

In [10]:
#   Puxando DataSet da API do Kaggle
!kaggle datasets download -d piterfm/2022-ukraine-russian-war --force

Downloading 2022-ukraine-russian-war.zip to c:\Users\manda\OneDrive\Documents\GitHub\Guerra-Russia-Ucr-nia-2022\Análise

  0%|          | 0.00/2.47k [00:00<?, ?B/s]
100%|██████████| 2.47k/2.47k [00:00<00:00, 2.64MB/s]

In [11]:
#   Criando o DataFrame
zip_file = ZipFile('2022-ukraine-russian-war.zip')
df = pd.read_csv(zip_file.open('russia_losses_personnel.csv'), usecols=[0, 1, 2, 4])

In [12]:
df.head(3)

         date  day  personnel  POW
0  2022-02-25    2       2800    0
1  2022-02-26    3       4300    0
2  2022-02-27    4       4500    0

In [13]:
#   Traduzindo headers e dando uma olhada no DataFrame

df.columns=['data', 'dia_conflito', 'total_fatalidades', 'prisioneiros']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   data               67 non-null     object
 1   dia_conflito       67 non-null     int64
 2   total_fatalidades  67 non-null     int64
 3   prisioneiros       67 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.2+ KB

Verifica-se nos dois blocos acima que a data além de estar como 'object', está no padrão internacional e tabém não encontramos entradas nulas no DataFrame

In [14]:
#   Modelando a data
#   Mudando o tipo primitivo
df['data'] = pd.to_datetime(df.data)

#   Mudando o formato de data de mes/dia para dia/mes
df['data'] = df['data'].dt.strftime('%d/%m/%Y')
df.head(3)

         data  dia_conflito  total_fatalidades  prisioneiros
0  25/02/2022             2               2800             0
1  26/02/2022             3               4300             0
2  27/02/2022             4               4500             0

In [15]:
#   O DataFrame tem apenas o valor acumulado, então vamos calcular o valor dia-a-dia
#   Inserindo coluna fatalidades no dia
df = df.assign(fatalidades_no_dia=0)
#   Passando um loop (por ser um número pequenos de entradas) 
c = 0
for fat in df['total_fatalidades']:
    if c == 0:
        value = df['total_fatalidades'][c]
        df['fatalidades_no_dia'][c] = value
        c += 1
    else:
        value = df['total_fatalidades'][c] - df['total_fatalidades'][c-1]
        df['fatalidades_no_dia'][c] = value
        c +=1
df.head(5)

C:\Users\manda\AppData\Local\Temp\ipykernel_5268\3921586042.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fatalidades_no_dia'][c] = value
C:\Users\manda\AppData\Local\Temp\ipykernel_5268\3921586042.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fatalidades_no_dia'][c] = value

,data,dia_conflito,total_fatalidades,prisioneiros,fatalidades_no_dia
0,25/02/2022,2,2800,0,2800
1,26/02/2022,3,4300,0,1500
2,27/02/2022,4,4500,0,200
3,28/02/2022,5,5300,0,800
4,01/03/2022,6,5710,200,410

In [16]:
#   Dando uma olhada no DataFrame inteiro
pd.set_option('display.max_rows', 100)
display(df)

,data,dia_conflito,total_fatalidades,prisioneiros,fatalidades_no_dia
0,25/02/2022,2,2800,0,2800
1,26/02/2022,3,4300,0,1500
2,27/02/2022,4,4500,0,200
3,28/02/2022,5,5300,0,800
4,01/03/2022,6,5710,200,410
5,02/03/2022,7,5840,200,130
6,03/03/2022,8,9000,200,3160
7,04/03/2022,9,9166,200,166
8,05/03/2022,10,10000,216,834
9,06/03/2022,11,11000,232,1000
10,07/03/2022,12,11000,259,0
11,08/03/2022,13,12000,284,1000
12,09/03/2022,14,12000,360,0
13,10/03/2022,15,12000,371,0
14,11/03/2022,16,12000,389,0
15,12/03/2022,17,12000,389,0
16,13/03/2022,18,12000,389,0
17,14/03/2022,19,12000,389,0
18,15/03/2022,20,13500,389,1500
19,16/03/2022,21,13800,389,300
20,17/03/2022,22,14000,405,200
21,18/03/2022,23,14200,405,200
22,19/03/2022,24,14400,405,200
23,20/03/2022,25,14700,405,300
24,21/03/2022,26,15000,405,300
25,22/03/2022,27,15300,411,300
26,23/03/2022,28,15600,412,300
27,24/03/2022,29,15800,412,200
28,25/03/2022,30,16100,412,300
29,26/03/2022,31,16400,412,300
30,27/03/2022,32,16600,421,200
31,28/03/2022,33,17000,421,400
32,29/03/2022,34,17200,430,200
33,30/03/2022,35,17300,430,100
34,31/03/2022,36,17500,459,200
35,01/04/2022,37,17700,459,200
36,02/04/2022,38,17700,460,0
37,03/04/2022,39,18000,460,300
38,04/04/2022,40,18300,460,300
39,05/04/2022,41,18500,467,200
40,06/04/2022,42,18600,467,100
41,07/04/2022,43,18900,467,300
42,08/04/2022,44,19000,467,100
43,09/04/2022,45,19100,467,100
44,10/04/2022,46,19300,467,200
45,11/04/2022,47,19500,467,200
46,12/04/2022,48,19600,477,100
47,13/04/2022,49,19800,477,200
48,14/04/2022,50,19900,477,100
49,15/04/2022,51,20000,477,100
50,16/04/2022,52,20100,477,100
51,17/04/2022,53,20300,477,200
52,18/04/2022,54,20600,477,300
53,19/04/2022,55,20800,489,200
54,20/04/2022,56,20900,489,100
55,21/04/2022,57,21000,489,100
56,22/04/2022,58,21200,489,200
57,23/04/2022,59,21600,489,400
58,24/04/2022,60,21800,489,200
59,25/04/2022,61,21900,489,100
60,26/04/2022,62,22100,489,200
61,27/04/2022,63,22400,496,300
62,28/04/2022,64,22800,496,400
63,29/04/2022,65,23000,496,200
64,30/04/2022,66,23200,496,200
65,01/05/2022,67,23500,496,300
66,02/05/2022,68,23800,496,300

In [18]:

#   Importando biblioteca plotly.express para fazer gráfico
import plotly.express as px
#    Plotando um gráfico de fatalidades russas progressão dia-a-dia
gf = px.line(df, x= 'dia_conflito', y='fatalidades_no_dia', title='Fatalidades Russas')
display(gf)

ModuleNotFoundError: No module named 'plotly'

In [ ]:
pip install plotly.express